<p>
  <strong>Name:</strong>
  <%= @event.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @event.description %>
</p>

<p>
  <strong>Starts at:</strong>
  <%= @event.starts_at.strftime('%A, %d %b %Y %l:%M %p') %>
</p>

<p>
  <strong>Ends at:</strong>
  <%= @event.ends_at.strftime('%A, %d %b %Y %l:%M %p') %>
</p>

<h4>
    <% if user_is_host %>
        <%= link_to 'Manage Event', edit_event_path(@event) %>
    <% end %>
</h4>

<% if @event.users.include? current_user %>
    <div class="container">You are already attending!</div>
<% else %>
<% end %>

<hr>
<div class="card-deck">
    <div class="card bg-light">
        <div class="card-title">Host</div>
        <div class="card-body">
            <div class="list-group">
                <% @hosts.each do |host| %>
                    <%= link_to host.email, user_path(host), class: 'list-group-item list-group-item-action'%>
                <% end %>
            </div>
        </div>
    </div>
    <div class="card bg-light">
        <div class ="card-title">Who's Going?</div>
        <div class="card-body">
            <div class="card-text list-group">
                <% @attendees.each do |attendee| %>
                    <%= link_to attendee.email, user_path(attendee), class: 'list-group-item list-group-item-action'%>
                <% end %>
            </div>
        </div>
    </div>
</div>
